body {
	background: #333;
}

h1 {
	font-family: 'Press Start 2P', cursive;
	font-size: 1.25em;
	/* font-size: 2.25vw; */
	color: #666;
	text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.4);
	letter-spacing: -.1em;
	text-align: center;
	padding: 3% 0 2%;
	margin: 0;
	/* border-bottom: 1px solid #434343; */
}

.main {
	padding-top: 20px;
	background: #fffcf1;
}

.panel-heading {
	font-family: 'Press Start 2P', cursive;
}

.btn {
	font-family: 'Press Start 2P', cursive;
}

#editor { 
	height: 500px;
}

#replay, #edit {
	display: none;
}

#consolelog {
	height: 500px;
	overflow: auto;
	background: #272822;

	p { 
		font-family: 'Ubuntu Mono', sans-serif;
		line-height: 30%;
	}
}

footer {
	padding: 25px 0;
	color: #eee;
}

.hidden {
	display: none;
}
