extends ../layout

block vars
	- var page = 'ude2013'

block content
	h1 ZUMBA’s 2013 UDE Node Defender Gameplay Contest Terms & Conditions

	h2 GAME SUBMISSIONS
	p Gameplay submissions for the UDE 2013 game contest begins Wednesday, November 20, 2013 at 3:00 PM EST and ends Friday, November 21 at 3:00 PM EST. When the game contest begins, all scores currently in the system will be reset.

	h2 PRIZES
	p Prizes will be awarded for each of the following categories:
	ul
		li Highest Score - Nexus 7
		li 2nd Highest Score - $250 Amazon Gift Card
		li 3rd Highest Score - $100 Amazon Gift Card
		li Most Kills - $100 Amazon Gift Card
		li Highest Round Survived - $75 Amazon Gift Card
	p Prizes can be collected at the Zumba booth on Friday November 21 from 3:00 PM to 5:00 PM. Each participant can only win 1 prize per category determined in the order of prizes above.

	h2 SCORING DETAILS & SCOREBOARD
	p For scoring rules, please see <a href="/how-to-play">How to play section on scoring</a>. The current leader in each of these categories may be found here: <a href="#{host}">Node Defender Leaderboard</a>.

	h2 TERMS
	p You must be a registered attendee of the Ultimate Developer Event (Boston 2013) and sign in to the game with your twitter handle in order to win a prize. If you do not have a twitter handle, you may stop by our booth on the convention floor to register in person with an email address and game nickname. Employees of Zumba Fitness are not eligible to win prizes. 

	h2 TIEBREAKERS
	p If two or more players tie for the lead in a category, the average score of all those players games in that relevant category will be used to determine the winner. As an example, if three players tie in the Most Kills category with 100 kills each, the player with the highest average across all their games will be declared the winner. The formula used in this example would be SUM(kills across all games played) / SUM(number of games played). In the event where there is still a tie after this is applied, the following tiebreakers will be applied in this order:

	ul
		li Highest Score in any game
		li Most Kills in any game
		li Most Damage in any game
		li Most Enemy Clears in any game
		li Highest Round survived in any game
