extends layout

block header
	.small-spacer &nbsp;
	h1
		i.icon-html5 
		span Node Defender
	h2 Defend your node against waves of murderous server side code.

block content
	.small-spacer &nbsp;
	p.ps2p These aren't the droids you're looking for.
	p.ps2p Resource not found: #{url}
	.large-spacer &nbsp;
