extends layout

block vars
	- var page = 'game'

block content
	.row
		.col-lg-12
			button(type="button", disabled)#start.btn.btn-primary.pull-right Loading...
		br
		br
	.row
		.col-lg-7
			#editor-panel.panel.panel-primary
				.panel-heading
					span Code Editor
					button#toggle-game-board.btn.btn-info.pull-right.panel-btn Game Board
					button(type="button")#reset.btn.btn-danger.pull-right.panel-btn Reset
					.clearfix.visible-xs
				#editor.panel-body
		.col-lg-7.hidden
			#game-board-panel.panel.panel-primary
				.panel-heading
					span Game Board
					button#toggle-editor.btn.btn-info.pull-right.panel-btn Editor
					button#toggle-sound.btn.btn-info.pull-right.panel-btn(data-status="unmuted"): i.icon-volume-up(style="font-size: 1.4em")
				#gameboard.panel-body
		.col-md-5
			#console-panel.panel.panel-primary
				.panel-heading Console
				#consolelog.panel-body
	code#base-strategy.hidden.
		// Available variables:
		// _ - Access to underscore
		// roundInfo - API for retrieving information from the server
		// commander - API for sending commands to the server

		var enemy, attackModes;

		// Find the first enemy and target it.
		enemy = _.first(roundInfo.getMobs());

		// Target the enemy
		commander.target(enemy.id);

		// Select the attack mode
		commander.attackMode('power');
