extends layout

block vars
	- var page = 'index'

block content
	.small-spacer &nbsp;
	.row
		.col-md-12
			h2.subtitle Defend your node against waves of murderous server side code.
			.small-spacer &nbsp;
	.row
		.col-md-4.col-md-offset-2
			a#twitter-connect.btn.btn-primary.ps2p-small(href="/oauth/connect")
				img(src="/img/twitter.png")
				span &nbsp;Sign in with Twitter
		.col-md-4
			form.form-inline.register-form(role="form", method="post", action="/anonymous")
				.input-group.input-group-large
					input.input-lg.ps2p-small(class="form-control", placeholder="nickname", maxlength="30", name="username")
					span.input-group-btn
						button.ps2p-small.btn.btn-success.btn-lg(type="submit", style="padding: 14px 16px") Sign In
	.small-spacer &nbsp;
	.row
		.col-md-4
			h4.ps2p Code in Javascript
			p.ps2p-small Construct your strategy with javascript to run against a node server.
		.col-md-4
			h4.ps2p Choose your Arsenal
			p.ps2p-small Select different attack modes depending on the situation.
		.col-md-4
			h4.ps2p Face the Enemy
			p.ps2p-small Protect your node from waves of various enemies with different attacks and properties.
	.large-spacer &nbsp;
